---
import { fetchTerms } from "@lib/api";
import Layout from "../layouts/Layout.astro";

const terms = await fetchTerms();

const today = new Date();
const month = (today.getMonth() <= 9 ? "0" : "") + today.getMonth();
const currentId = `${today.getFullYear()}${month}`;

const futureTerms = terms
    .filter((term) => term.id > currentId)
    .toSorted((a, b) => a.id.localeCompare(b.id));

const nextTerm = futureTerms?.[0] ?? terms[0];
const url = `/${nextTerm?.id}/schedule`;
---

<head>
    {
        nextTerm && nextTerm?.id !== "" ? (
            <meta http-equiv="refresh" content={`0; url=${url}`} />
        ) : (
            <title>Uh oh.</title>
        )
    }
</head>

<Layout terms={terms} term={nextTerm}>
    <p class="dark:text-white">
        Please wait while you are redirected to the latest term.

        <a class="font-bold" href={url}>Click here</a> if you are not redirected.
    </p>
</Layout>
